<nav>
  <ul>
    <li> <%= link_to "Foods", foods_path%> </li>
    <li> <%= link_to "Recipes", recipes_path %> </li>
    <li> <%= link_to "Inventories", inventories_path %> </li>
    <li> <%= link_to "Login",  new_user_session_path %> </li>
    <li> <%= link_to "Logout", destroy_user_session_path %> </li>
    <li> <%= link_to "SignUp", new_user_registration_path %> </li>
  </ul>
</nav>