<p style="color: green"><%= notice %></p>

<h1>Inventories</h1>

<%= link_to "Add a new inventory", new_inventory_path %>
<div id="inventories">
  <% @inventories.each do |inventory| %>

    <%= render inventory %>
       
      <div> We love cooking but not during program time</div>
  <% if can? :destroy, inventory %>
  <%= link_to "Remove", inventories_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  <% end %>

  <p>
      <%= link_to "Show this inventory", inventory %>
  </p>
  
  <% end %>
</div>


