<div id="<%= dom_id recipe %>">
    <%= link_to recipe.name %>
    <h2><%= recipe.name %></h2>
    <p><%= recipe.description %></p>
    <%= link_to 'REMOVE', recipe_path(recipe), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
</div>
